<!DOCTYPE html>
<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<div id="main">
  <div id = "content">
    <h3>Mapa</h3>
    <button type="button" onclick="centerMap()">Mi ubicación</button>
    <br/>
    <input type="text">
    <button type="button" onclick="busqueda()">Búsqueda</button>
  </div>
  
  <div id='map' style="width:500px;height:380px;z-index:-100;"></div>
</div>
<script type='text/javascript'>
var lat = 0;
var lng = 0;
var map;

var putMarker = function(data)
{
  for(i = 0; i < data.length; i++)
  {
    auxCategories = data[i].categories;
    auxLocation = data[i].location;
    if(auxCategories[0] != undefined )
    {
      var latLng = new L.LatLng(
      auxLocation.lat,
      auxLocation.lng);

      var leafletIcon = L.icon({
        iconUrl: auxCategories[0].icon,
        iconSize: new L.Point(32,32),
        iconAnchor: new L.Point(16, 41),
        popupAnchor: new L.Point(0, -51),
        options: null
      });
      var marker = new L.Marker(latLng, {icon: leafletIcon})
        .bindPopup(data[i].name, { closeButton: false })
        .on('mouseover', function(e) { this.openPopup(); })
        .on('mouseout', function(e) { this.closePopup(); });
        map.addLayer(marker);
    }
  }
};

var busqueda = function()
{
  var data = {lat: lat, lng: lng, search: ""};
  map.redraw();
  $.post("/load_venues",data).done(function(data){putMarker(data)});
};

var centerMap = function()
{
  map.setView(new L.LatLng(lat, lng), 15);

};
navigator.geolocation.getCurrentPosition(function(data) {
    lat = data['coords']['latitude'];
    lng = data['coords']['longitude'];
    /* Create map. */
    map = L.mapbox.map('map', 'examples.map-4l7djmvo')
    .setView(new L.LatLng(lat, lng), 15);
    var coords = {lat: lat, lng: lng};
    $.post("/load_venues",coords).done(function(data){putMarker(data)});
  });

</script>
</body>
</html>